html {
  min-height: 100vh;
}
body {
  background-image: url("../images/glass-bubbles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.transparentDialogRounded .ui-dialog-titlebar {
  display: none;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.transparentDialogRounded {
  border: none !important;
  background: transparent !important;
}
.transparentDialogRounded .ui-widget-header {
  background: transparent !important;
}
.transparentDialogRounded .ui-widget-content {
  background: rgba(255, 255, 255, 0.7) !important;
  border-radius: 50px !important;
}
#content_wrapper_div {
  min-width: 700px;
}
#select_name_div {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}
#select_giver {
  font-size: 25px;
  display: none;
  white-space: nowrap;
}
#display_wish_list .recipient_assigned_message {
  margin-top: 50px;
  font-size: 55px;
}
#display_wish_list .recipient_assigned_name {
  font-size: 60px;
  color: #700000;
}
#display_wish_list .recipient_wish_list_name {
  font-size: 30px;
  margin-top: 25px;
}
#display_wish_list .recipient_wish_list_items {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
}
#display_wish_list .countdown_reset_message {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 25px;
}
#display_wish_list #page_reset_seconds {
  font-size: 30px;
  color: #700000;
}
#winwheelDiv {
  text-align: center;
}
#winwheelCanvas {
  margin-top: 25px;
}
#start_spin_div {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
#start_spin_button {
  font-size: 25px;
  display: none;
}
#drawing_complete_div {
  margin-top: 50px;
  min-width: 700px;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
}
#drawing_complete_span {
  background: rgba(255, 255, 255, 0.5);
  padding: 50px;
  border-radius: 10px;
}
